@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: #ffffff;
  color: #ff5100;
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.top-parallax {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  margin: 10px 0px 20px 0px;
}
.top-parallax:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 25;
}
.liana1 {
  color: #ff5100;
  position: absolute;
  z-index: 17;
  line-height: 4rem;
  top: calc(20% - 1rem);
  width: 100%;
  text-align: center;
  font-size: 8vh;
  font-weight: 900;
}
.Liana2 {
  font-size: 60vh;
  font-weight: 1000;
  color: #4c9825;
  position: absolute;
  bottom: -100px;
  width: 1500px;
  right: -40;
  z-index: 19;
}
.Liana3 {
  font-size: 40vh;
  font-weight: 900;
  color: #4b9825b7;
  position: absolute;
  bottom: -200px;
  width: 1500px;
  left: -30;
  z-index: 15;
}
.Liana4 {
  font-size: 20vh;
  font-weight: 800;
  color: #4b98257e;
  position: absolute;
  bottom: -100px;
  width: 1100px;
  left: 0;
  z-index: 13;
}
.Liana5 {
  font-size: 10vh;
  font-weight: 700;
  color: #4b982549;
  position: absolute;
  bottom: 300px;
  width: 900px;
  right: 0;
  z-index: 12;
}

#navbar-toggler {
  background-color: #4c9825;
}
#nav-top {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  background-color: #4c9825;
  color: #ffffff;
  text-decoration: none;
  padding: 0px 3%;
  z-index: 1;
}
#nav-top li {
  list-style: none;
  display: inline-block;
}
#nav-top li a {
  transition: all 0.3s ease 0;
  color: #ffffff;
  text-decoration: none;
  padding-top: 25px;
}
#container-fluid {
  background-color: #ffffff;
}
#dropdown-menu {
  background-color: #ffffff;
  margin: 0 auto;
}
#nav-top button {
  background-color: #ffffff;
  color: #000000;
}
#nav-top button:hover {
  background-color: #ff5100;
  color: #ffffff;
}
#nav-bottom {
  background-color: #ffffff !important;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: right;
  height: 60px;
  padding: 0px 20px;
  z-index: 2;
}
.navbar-collapse {
  z-index: 2;
  padding-bottom: 10px;
}
#nav-bottom li a {
  color: #000000 !important;
}
#nav-bottom form button {
  background-color: #4c9825;
  color: #ffffff;
}
#nav-bottom form button:hover {
  background-color: #ffffff;
  color: #4c9825;
}

#project-title {
  text-align: center;
  padding: 25px;
  margin: 10px auto;
  justify-self: center;
  color: #f76c6c;
}
.welcom-section {
  color: #ffffff;
  opacity: 1;
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 260px;
  background-repeat: no-repeat;
  background-size: cover;
}
#card-section {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
  flex-wrap: wrap;
}
.card1 {
  border-radius: 0%;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
.card1 img {
  opacity: 1;
  transition: 0.2s;
  z-index: 8;
}
.card1:hover {
  opacity: 0.8;
  font-weight: 600;
  color: #000000;
}
.card1-title {
  z-index: 10;
  padding: 15%;
  transition: 0.2s;
}
.card2 {
  display: flex;
  margin: 20px;
  border: none;
  width: 12rem;
}
.card2-body {
  text-align: start;
  color: #000000;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  transition: 0.2s;
}
#icon-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0px;
  justify-content: center;
}

.card2-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.c2col8 {
  justify-content: center;
  padding-left: 20px;
}
.card2-title {
  font-size: 22px;
  color: #4c9825;
}
.card2-text {
  font-size: x-small;
  color: #4c9825;
}
.card2-content {
  padding-top: 0;
  align-items: center;
}

.latest-news {
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  color: #ffffff;
  width: 100vw;
  padding: 30px 0px;
}
#rss-feed-section {
  background-color: darkgray;
  display: inline-block;
  text-align: center;
  width: 100vw;
  justify-content: center;
}

.card-date {
  text-align: left;
  font-size: 14px;
  color: #4c9825;
}
.card3-text {
  font-size: 15px;
  color: #000000;
}
#references {
  margin: 10px auto;
  text-align: center;
  color: #000000;
}
#references-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 20px auto;
}
.card4 {
  border: solid 1px darkgray;
}

hr {
  size: 2px;
  color: black;
}
.welcom-h1 {
  animation-name: motionh1;
  animation-duration: 3s;
  position: relative;
}
.welcom-button {
  padding: 1px 15px;
  height: 50px;
  margin: 10px auto;
  background-color: #4c9825;
  border-radius: 5px;
  color: #ffffff;
  animation-name: motionh3;
  animation-duration: 1s;
  border: none;
}
.subscribe {
  width: 90vw;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000000;
  text-align: center;
  padding: 10px 10px;
}
#subscribe-btn {
  margin: 0 auto;
  background-color: #4c9825;
  color: #ffffff;
  border: none;
  height: 40px;
  width: 20vw;
  border-radius: 5px;
}
#subscribe-btn:hover {
  background-color: #ffffff;
  color: #4c9825;
  border: solid 1px #4c9825;
}
.form-control {
  height: 40px;
  width: 60vw;
  margin: 0 auto;
  justify-self: flex-end;
}
@keyframes motionh1 {
  0% {
    color: rgba(255, 255, 255, 0);
    top: -80px;
  }

  70% {
    color: rgba(255, 255, 255, 0.8);
    top: -20px;
  }
  100% {
    color: rgba(255, 255, 255, 1);
    top: 0px;
  }
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 5%;
}
.bg-dark {
  background-color: #000000 !important;
}

@media only screen and (max-width: 600px) {
  #about-section {
    width: 95%;
    padding: 10px;
    background-color: #24305e;
    color: #ffffff;
  }
  .project_cards {
    background-color: #f8e9a1;
    color: black;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 25px;
    width: 400px;
    height: 550px;
  }
  #icon-section {
    flex-wrap: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .card2 {
    margin: 0 auto;
    border: none;
    width: 100%;
    flex-wrap: wrap;
  }
  .subscribe {
    width: 100vw;
  }
  .col8 {
    display: flex;
    flex-direction: column;
  }
  #formControlInput1 {
    width: 250px;
  }
  .subrow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px auto;
  }
  #subscribe-btn {
    background-color: #4c9825;
    color: #ffffff;
    width: 80vw;
    border-radius: 5px;
  }
  .form-control {
    width: 80vw;
  }
}
